
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var especialidade in ViewBag.Especialidades)
            {
            <tr>
                <td>@especialidade.Id</td>
                <td>@especialidade.EspecialidadeNome</td>
                <td>@especialidade.DescricaoEspecialidade</td>
                <td>
                    <a href="@Url.Action("ViewEditar", "Especialidade", new { especialidade.Id })">Editar</a>
                </td>
                <td>
                    <a href="@Url.Action("Remover", "Especialidade", new { especialidade.Id })">Remover</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

