

@{

    AgendamentoConsultas.DAO.ConvenioDAO dao = new AgendamentoConsultas.DAO.ConvenioDAO();
    ViewBag.Convenio = dao.Lista();
}

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Data Nascimeto</th>
                <th>Sexo</th>
                <th>Convênio Médico</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var paciente in ViewBag.Pacientes)
            {
            <tr>
                <td>@paciente.Id</td>
                <td>@paciente.Nome</td>
                <td>@paciente.DataNascimento</td>
                <td>@paciente.Sexo</td>
                @foreach (var conv in ViewBag.Convenios)
                {
                    if (conv.Id == paciente.ConvenioId)
                    {
                        <td>
                            @conv.ConvenioNome
                        </td>
                    }
                }

                <td>
                    <a href="@Url.Action("ViewEditar", "Paciente", new { paciente.Id })">Editar</a>
                </td>
                <td>
                    <a href="@Url.Action("Remover", "Paciente", new { paciente.Id })">Remover</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

